<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
        <!-- Content Header (Page header) -->
            <section class="content-header">
            <h4>
                <b>Consultar por Orgão</b>
            </h4>
            <ol class="breadcrumb">
                <li><a href="/admin"><i class="fa fa-dashboard"></i> Home</a></li>
                <li><a href="/admin/docs">Consultar Todos os Documentos</a></li>
                <li><a href="javascript:window.history.go(-1)">Voltar</a></li>
                <li class="active">Processos por Órgão de {$docs.nome_orgao} </li>
            </ol>
            </section>
            <!-- Main content -->
            <section class="content">
                <div class="row">
                    <div class="col-md-12">
                        <div class="box box-success">
                            <!-- form start -->
                            <form role="form" action="/admin/docs/resultadopororgao" method="post">
                                <div class="box-body">
                                    <div class="row">
                                        <div class="col-12 col-sm-10 col-md-5">
                                            Nova Consulta
                                            <div class="dropdown scroll">
                                                <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                                    Orgão
                                                    <span class="caret"></span>
                                                </button>
                                                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                                    {loop="$orgao"}  
                                                    <li><a href="/admin/docs/{$value.id_orgao}/resultadopororgao">{$value.nome_orgao}</a></li>
                                                    {/loop}
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="col-12 col-sm-10 col-md-6">
                                            <table class="table table-striped">
                                                <thead>
                                                    <tr>
                                                        <th>Numero</th>
                                                        <th>Assunto</th>
                                                        <th>Data Início</th>
                                                        <th></th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    {loop="$resultadodocumento"}
                                                    <tr>
                                                        <td>{$value.numero_documento}</td>
                                                        <td>{$value.assunto_documento}</td>
                                                        <td>{function="formatDate($value.data_inicio)"}</td>
                                                        <td><a href="/admin/docs/situacao/{$value.id_documento}" class="btn btn-default btn-xs"><i class="fa fa-list-alt" aria-hidden="true"></i><b> Consultar</b></a></td>
                                                    </tr>
                                                    {/loop}
                                                </tbody>
                                            </table> 
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </section>
        <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->