<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
<!-- Content Header (Page header) -->
    <section class="content-header">
    <h4>
        <b>Cadastro de Órgão</b>
    </h4>
    <ol class="breadcrumb">
        <li><a href="/admin"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="/admin/orgao">Consultar Todos Órgãos</a></li>
        <li><a href="javascript:window.history.go(-1)">Voltar Anterior</a></li>
        <li class="active">Cadastrar Órgão</li>
    </ol>
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-md-12">
                <div class="box box-success">
                    <!-- form start -->
                    <form role="form" action="/admin/orgaos/create" method="post">
                        <div class="box-body">
                            <div class="col-12 col-sm-10 col-md-6">
                                <div class="form-group row">
                                    <div class="col-10 col-sm-5 col-md-8">
                                        <label for="nome_orgao" class="col-form-label col-form-label-sm">ÓRGÃO</label>
                                        <input type="text" class="form-control form-control-sm" id="nome_orgao" name="nome_orgao" placeholder="Informe o Órgão" required>
                                    </div>
                                    <div class="col-12 col-sm-12 col-md-2">
                                        <div class="col-sm-12 col-md-12">
                                            <label class="col-form-label col-form-label-sm">HIERARQUIA</label>
                                        </div>
                                        <div class="col-sm-12 col-md-12 text-black">
                                            <select class="btn btn-md btn-default" id="id_hierarquia_orgao" name="id_hierarquia_orgao" required>
                                                <option class="pl-3 pr-3" value="#" disabled selected>SELECIONE</option>
                                                {loop="$hierarquia"}
                                                <option value="{$value.id_hierarquia_orgao}">{$value.tipo_hierarquia}</option>
                                                {/loop}
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="form-group row">
                                    <div class="col-10 col-sm-5 col-md-8">
                                        <button type="submit" class="btn btn-primary btn-sm">Salvar</button>
                                        <button type="button" class="btn btn-primary btn-sm">Cancelar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
<!-- /.content -->
</div>
<!-- /.content-wrapper -->