<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
<!-- Content Header (Page header) -->
<section class="content-header">
  <h4>
    <b>Lista de Processos</b>
  </h4>
  <ol class="breadcrumb">
    <li><a href="/admin"><i class="fa fa-dashboard"></i> Home</a></li>
    <li class="active">Consultar Todos</li>
  </ol>
</section>

<!-- Main content -->
<section class="content">

  <div class="row">
  	<div class="col-md-12">
  		<div class="box box-primary">
            
            <div class="box-header">
              <a href="/admin/processos/create" class="btn btn-success">Cadastrar Processo</a>
            </div>

            <div class="box-body no-padding">
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th style="width: 10px">Numero</th>
                    <th>Assunto</th>
                    <th>Órgão</th>
                    <th>Data Início</th>
                    <th style="width: 250px"></th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                  {loop="$processos"}
                  <tr>
                    <td>{$value.numero_processo}</td>
                    <td>{$value.assunto_processo}</td>
                    <td>{$value.nome_orgao}</td>
                    <td>{function="formatDate($value.data_inicio)"}</td/>
                    <td>
                      <a href="/admin/processos/{$value.id_processo}" class="btn btn-primary btn-xs"><i class="fa fa-edit"></i> Editar</a>
                      <a href="/admin/processos/situacao/{$value.id_processo}" class="btn btn-default btn-xs"><i class="fa fa-list-alt" aria-hidden="true"></i><b> Consultar</b></a>
                      <a href="/admin/processos/movimentar/{$value.id_processo}" class="btn btn-success btn-xs"><i class="fa fa-plus-circle" aria-hidden="true"></i> Movimentar</a>
                    </td>
                  </tr>
                  {/loop}
                </tbody>
              </table>
            </div>
            <!-- /.box-body -->
          </div>
  	</div>
  </div>

</section>
<!-- /.content -->
</div>
<!-- /.content-wrapper -->