<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
        <section class="content-header">
        <h2>
            Resultado Por Orgão
        </h2>
        <ol class="breadcrumb">
            <li><a href="/admin"><i class="fa fa-dashboard"></i> Home</a></li>
            <li><a href="/admin/users">Consultar Todos</a></li>
            <li class="active">Cadastrar</li>
        </ol>
        </section>
    
        <!-- Main content -->
        <section class="content">
            <div class="row">
                <div class="col-md-12">
                    <div class="box box-success">
                        <!-- form start -->
                        <form role="form" action="/admin/users/resultadopororgao" method="post">
                            <div class="box-body">
                                <div class="col-12 col-sm-10 col-md-5">
                                        Nova Consulta
                                    <table class="table table-striped">
                                        <thead>
                                            <tr>
                                                <th><b>Orgão</b></th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {loop="$orgao"}
                                            <tr>
                                                <td>{$value.nome_orgao}</td>
                                                <td><a href="/admin/users/{$value.id_orgao}/resultadopororgao" class="btn btn-default btn-xs"><i class="fa fa-list-alt" aria-hidden="true"></i><b> Buscar</b></a></td>
                                            </tr>
                                            {/loop}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="box-body">
                                <div class="col-12 col-sm-10 col-md-12">
                                    <h2>{$user.nome_orgao}</h2>
                                    <table class="table table-striped">
                                    <thead>
                                            <tr>
                                                <th>numero</th>
                                                <th>ação</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {loop="$processo"}
                                            <tr>
                                                <td>{$value.numero_processo}</td>
                                                <td><a href="/admin/users/{$value.id_processo}/resultadopororgao" class="btn btn-default btn-xs"><i class="fa fa-list-alt" aria-hidden="true"></i><b> Buscar</b></a></td>
                                            </tr>
                                            {/loop}
                                        </tbody>
                                    </table> 
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
    <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->