<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
<!-- Content Header (Page header) -->
    <section class="content-header">
    <h2>
        Cadastro de Processo / Novo Processo
    </h2>
    <ol class="breadcrumb">
        <li><a href="/admin"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="/admin/users">Consultar Todos</a></li>
        <li class="active">Cadastrar</li>
    </ol>
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-md-12">
                <div class="box box-success">
                    <!-- form start -->
                    <form role="form" action="/admin/users/create" method="post">
                        <div class="box-body">
                            <div class="col-12 col-sm-10 col-md-6">
                                <div class="form-group row">
                                    <div class="col-10 col-sm-5 col-md-4">
                                        <label for="numero_processo" class="col-form-label col-form-label-sm">NÚMERO DO PROCESSO:</label>
                                    </div>
                                    <div class="col-10 col-sm-6 col-md-6">
                                        <input type="text" class="form-control form-control-sm" id="numero_processo" name="numero_processo" placeholder="Informe o numero do processo" required>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-10 col-sm-5 col-md-4">
                                        <label for="id_orgao" class="col-form-label col-form-label-sm">ORGÃO DE ORIGEM:</label>
                                    </div>
                                    <div class="col-10 col-sm-6 col-md-8">
                                        <select id="id_orgao" name="id_orgao">
                                            <option value="#">SELECIONE</option>
                                            {loop="$orgao"}
                                            <option value="{$value.id_orgao}">{$value.nome_orgao}</option>
                                            {/loop}
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-10 col-sm-5 col-md-4">
                                        <label for="id_tipo_processo" class="col-form-label col-form-label-sm">TIPO:</label>
                                    </div>
                                    <div class="col-10 col-sm-6 col-md-8">
                                        <select id="id_tipo_processo" name="id_tipo_processo">
                                            <option value="#">SELECIONE</option>
                                            {loop="$tipo"}
                                            <option value="{$value.id_tipo_processo}">{$value.tipo_processo}</option>
                                            {/loop}
                                        </select>
                                    </div>
                                </div> 
                            </div>
                            <div class="col-0 col-sm-10 col-md-6">
                                <div class="form-group row">
                                    <div class="col-10 col-sm-5 col-md-3">
                                        <label for="data_inicio" class="col-form-label col-form-label-sm">DATA INICIO:</label>
                                    </div>
                                    <div class="col-8 col-sm-6 col-md-6">
                                        <input type="text" class="form-control form-control-sm" id="data_inicio" name="data_inicio" placeholder="aaaa-mm-dd">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-10 col-sm-8 col-md-3">
                                        <label for="nome_processo" class="col-form-label col-form-label-sm">NOME:</label>
                                    </div>
                                    <div class="col-12 col-sm-12 col-md-8">
                                        <input type="text" class="form-control form-control-sm" id="nome_processo" name="nome_processo" placeholder="Informe o nome" required>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-10 col-sm-8 col-md-3">
                                        <label for="assunto_processo" class="col-form-label col-form-label-sm">ASSUNTO:</label>
                                    </div>
                                    <div class="col-12 col-sm-12 col-md-8">
                                        <input type="text" class="form-control form-control-sm" id="assunto_processo" name="assunto_processo" placeholder="Informe o assunto" required>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="box-body">
                            <div class="content bg-primary">
                                <div class="row">
                                    <div class="col-md-12">
                                        <h4>ENTRADA</h4>
                                        <div class="row">
                                            <div class="col-12 col-sm-12 col-md-4">
                                                <div class="form-group row">
                                                    <div class="col-sm-12 col-md-12">
                                                        <label class="col-form-label col-form-label-sm">Data:</label>
                                                    </div>
                                                    <div class="col-sm-12 col-md-12">
                                                        <input type="text" class="form-control form-control-sm" id="proc_data_entrada" name="proc_data_entrada" placeholder="aaaa-mm-dd">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-12 col-sm-12 col-md-3">
                                                <div class="form-group row">
                                                    <div class="col-sm-12 col-md-12">
                                                        <label class="col-form-label col-form-label-sm">Hora:</label>
                                                    </div>
                                                    <div class="col-sm-12 col-md-12">
                                                        <input type="text" class="form-control form-control-sm" value="10:00" required="">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-12 col-sm-12 col-md-5">
                                                <div class="form-group row">
                                                    <div class="col-sm-12 col-md-12">
                                                        <label class="col-form-label col-form-label-sm">Origem:</label>
                                                    </div>
                                                    <div class="col-sm-12 col-md-12 text-black">
                                                        <select class="btn btn-sm" id="id_orgao_movimento" name="id_orgao_movimento">
                                                            <option value="#">SELECIONE</option>
                                                            {loop="$orgao"}
                                                            <option value="{$value.id_orgao}">{$value.nome_orgao}</option>
                                                            {/loop}
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <div class="col-sm-10 col-md-12">
                                                <label class="col-form-label col-form-label-sm">Observações:</label>
                                            </div>
                                            <div class="col-sm-12 col-md-12">
                                                <input type="text" class="form-control form-control-sm" id="observacoes" name="observacoes" required/>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="box-footer">
                            <button type="submit" class="btn btn-primary btn-sm">Salvar</button>
                            <button type="button" class="btn btn-primary btn-sm">Cancelar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
<!-- /.content -->
</div>
<!-- /.content-wrapper -->